---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "bootstrap";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
  width: 100%;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  margin: 0.25em 0 0.1em;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 10px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 25px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 0px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

footer {
  padding: 20px 0;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
}

th {
  border-bottom: 1px solid #ddd;
}

tbody > tr:first-of-type td {
  padding-top: 30px;
}

tr > td:first-of-type {
  opacity: 0;
  white-space: nowrap;
}

tbody > tr:first-of-type > td:first-of-type {
  opacity: 1;
  font-weight: bold;
}

td, th {
  text-align: left;
  padding: 5px;
}

tr:hover td {
  background-color: #f5f5f5;
}

td > div {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.explainer-text {
  font-size: 0.9rem;
  margin-bottom: 50px;
}

.glyphicon-menu-hamburger {
  font-size: 35px;
}

.characterdiv {
  display: flex;
  align-items: flex-start;
}

.line{
  margin: 5px 5px;
  align-self:baseline;
  max-height: 120px;
}

.character-description {
  letter-spacing: 0.05rem;
  line-height:1rem;
}

.character-container {
  box-shadow: 0 0 0 0.08rem lightgray;
  padding: 0.5em 0.5em;
  margin-bottom: 20px;
}

.build-wrapper {
  margin: 3px 0px 0px 0px;
  border-radius: 5px;
  background: linear-gradient(to bottom, rgba(166, 166, 166, .2), rgba(166, 166, 166, .1));
}

.skill-parent {
  padding: 5px;
  vertical-align:top;
}

.statistics-parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.skill-element {
  text-align: center;
  font-size:0.7rem;
}

.skill-element p {
  margin: 5px;
}


.statistics-element {
  padding: 3px;
}

.statistics-element p {
  margin: auto;
  font-size: 0.9rem;
}

$icon-border-thickness: 3px;

.skill-icon {
  border-radius: 64px;
  max-width: 64px;
}

.skill-green {
  @extend .skill-icon;
  border: $icon-border-thickness solid green;
}
.skill-pink {
  @extend .skill-icon;
  border: $icon-border-thickness solid deeppink;
}
.skill-grey {
  @extend .skill-icon;
  border: $icon-border-thickness solid grey;
}
.skill-blue {
  @extend .skill-icon;
  border: $icon-border-thickness solid blue;
}
.skill-yellow {
  @extend .skill-icon;
  border: $icon-border-thickness solid yellow;
}
.skill-red {
  @extend .skill-icon;
  border: $icon-border-thickness solid red;
}
.skill-teal {
  @extend .skill-icon;
  border: $icon-border-thickness solid teal;
}

.mode-header {
  margin-top: 20px;
  margin-bottom: 10px;
}

@import "svg-icons";