---
layout: default
explainer: True
---

<div class="characters">
  <table>
    <thead>
      <tr>
        <th>Character</th>
        <th class="text-center" colspan="5">Skills</th>
        <th class="text-right">Count</th>
      </tr>
    </thead>
    {% for char in site.data.cdata.threes %}
      <tbody>
        {% for build in char.builds %}
          <tr>
            <td>{{char.name}}</td>
            {% for skill in build.skills %}
              <td>
                <div title="{{skill.name}}">{{skill.name}}</div>
              </td>
            {% endfor %}
            <td class="text-right">{{build.count}}</td>
          </tr>
        {% endfor %}
      </tbody>
    {% endfor %}
  </table>
</div>