    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <title>{{ site.name }} - {{ page.title }}</title>
    <meta name="description" content="{{ site.name }}, Up to date Grand Champions skill builds for {{ page.title }}" />
    <meta property="og:description" content="{{ site.name }}, Up to date Grand Champions skill builds for {{ page.title }}" />
    {% else %}
    <title>{{ site.name }} - {{ site.description }}</title>
    <meta name="description" content="{{ site.name }},
Always updated builds and loadouts for all champions based on what the top ranked players use! Check out builds for newly added champions within a day!
In addition, find rankings of the best team setups and champions by winrate!" />
    <meta property="og:description" content="{{ site.name }},
Always updated builds and loadouts for all champions based on what the top ranked players use! Check out builds for newly added champions within a day!
In addition, find rankings of the best team setups and champions by winrate!" />
    {% endif %}

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}