---
layout: default
---

<div class="character-container">
<div class="characterdiv">
    <img class="line" src="{{site.url}}/assets/img/{{ page.icon }}.png" />
    <h1 class="line">{{ page.title }}</h1>
</div>
<p class="character-description">{{page.description}}</p>
<h3>Played {{page.num}} times last 7 days, with a winrate of {{page.winrate}}%</h3>
</div>
<article class="character">
        <div class="container table">
        <h2>2 vs 2</h2>
        {% for build in page.builds.twos %}

        <div class="row build-wrapper">
            <div class="col-xs-6 col-md-12 skill-parent">
                <!-- Use manual offset columns to center content...  -->
                <div class="col-md-1"></div>
            {% for skill in build.skills %}
                <div class="col-sm-1 col-md-2 skill-element" title="{{skill.name}} - {{skill.description}}">
                    <img class="" src="{{site.url}}/assets/img/{{skill.icon}}.png" />
                    {{skill.name}}
                </div>
                {% endfor %}
                <div class="col-md-1"></div>
            </div>
            <div class="col-xs-6 col-md-12 statistics-parent">
                <div class="statistics-element">Occurances: {{build.num}}</div>
                <div class="statistics-element">Winrate: {{build.winrate}}%</div>
            </div>
        </div>

        {% endfor %}
        </div>
</article>