---
layout: default
---

<div class="character-container">
<div class="characterdiv">
    <img class="line" src="{{site.url}}/assets/img/{{ page.icon }}.png" />
    <h1 class="line">{{ page.title }}</h1>
</div>
<p class="character-description">{{page.description}}</p>
<h3>Played {{page.num}} times last 7 days, with a winrate of {{page.winrate}}%</h3>
</div>
<article class="character">
    <table>
        <thead>
        <tr>
            <th>Mode</th>
            <th class="text-center" colspan="5">Skills</th>
            <th class="text-right">Count</th>
            <th class="text-right">Winrate</th>
        </tr>
        </thead>
        <tbody>
        {% for build in page.builds.twos %}
        <tr>
            <td>2 vs 2</td>
            {% for skill in build.skills %}
            <td>
                <div title="{{skill.name}} - {{skill.description}}">{{skill.name}}</div>
            </td>
            {% endfor %}
            <td class="text-right">{{build.num}}</td>
            <td class="text-right">{{build.winrate}}%</td>
        </tr>
        {% endfor %}
        </tbody>
        <tbody>
        {% for build in page.builds.threes %}
        <tr>
            <td>3 vs 3</td>
            {% for skill in build.skills %}
            <td>
                <div title="{{skill.name}} - {{skill.description}}">{{skill.name}}</div>
            </td>
            {% endfor %}
            <td class="text-right">{{build.num}}</td>
            <td class="text-right">{{build.winrate}}%</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</article>